.nav--wrapper {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-bottom: 40px;
}

.nav--img {
  margin-right: 7px;
}

.nav--title {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
